
/Learning_Net_7/Learning_Net_7/bin
/Learning_Net_7/Learning_Net_7/obj
/Learning_Net_7/.vs/Learning_Net_7/FileContentIndex
/Learning_Net_7/.vs/Learning_Net_7/config
/Learning_Net_7/.vs/Learning_Net_7/DesignTimeBuild
/Learning_Net_7/.vs/Learning_Net_7/v17
